In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
data=pd.read_csv("insurance_pre.csv")
data

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [2]:
data =pd.get_dummies(data,drop_first=True)
data

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [3]:
data['sex_male']=data['sex_male'].replace({True:1,False:0})
data

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0        True
1      18  33.770         1   1725.55230         1       False
2      28  33.000         3   4449.46200         1       False
3      33  22.705         0  21984.47061         1       False
4      32  28.880         0   3866.85520         1       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1       False
1334   18  31.920         0   2205.98080         0       False
1335   18  36.850         0   1629.83350         0       False
1336   21  25.800         0   2007.94500         0       False
1337   61  29.070         0  29141.36030         0        True

[1338 rows x 6 columns]

In [4]:
data['smoker_yes']=data['smoker_yes'].replace({True:1,False:0})
data

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
independent= data[["age","bmi","children","sex_male","smoker_yes"]]
dependent =data[["charges"]]

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=1/3,random_state=0)

In [7]:
import numpy as np
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [8]:
weight=regressor.coef_
print("weight of the model = {}".format(weight))

weight of the model = [[  260.1423112    315.22441969   545.72248029   -71.76915955
  23252.13608407]]

In [9]:
bais=regressor.intercept_
print("bais of the model={}".format(bais))

bais of the model=[-12013.76012735]

In [10]:
y_pred=regressor.predict(x_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score

0.7865108093853883

In [11]:
age=int(input("enter the age:"))
bmi=int(input("enter the bmi"))
children=int(input("enter the children value"))
sex_male=int(input("enter the sex value"))
smoker_yes=int(input("enter the smoker"))

enter the age:52
enter the bmi38
enter the children value23
enter the sex value89
enter the smoker67

In [12]:
future_prediction=regressor.predict([[age,bmi,children,sex_male,smoker_yes]])
print("future_predictin={}".format(future_prediction))

future_predictin=[[1577549.44748275]]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(